In [3]:
import os
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
import statsmodels.api as sm

In [49]:
df = pd.read_csv("https://raw.githubusercontent.com/berdikhanova/undergraduate-thesis/main/the-thesis/Final_Data/Data_Astana_DiD.csv")

In [50]:
df

,Region_ID,Region,Year,Treatment,Total-City,Total(KAZ)-City,Total(RUS)-City,Total(Low)-City,Total(Low)-City %,KAZ(Low)-City,...,Total_Low,Total_Low-Mid,Total_Mid,Total_High-Mid,Total_High,Low_%,Low-Mid%,Mid_%,High_Mid%,High_%
0,2,Aktobe,2014,0,2649,1771,878,124,0.05,88,...,268,975,1295,779,1191,5.94%,21.63%,28.73%,17.28%,26.42%
1,5,Astana City,2014,0,3251,1598,1653,140,0.04,83,...,140,516,936,683,976,4.31%,15.87%,28.79%,21.01%,30.02%
2,9,Karaganda,2014,0,3581,1532,2049,139,0.04,94,...,360,1560,1844,741,589,7.07%,30.62%,36.20%,14.55%,11.56%
3,2,Aktobe,2015,0,2766,2019,747,181,0.07,133,...,339,1011,1295,921,1054,7.34%,21.88%,28.03%,19.94%,22.81%
4,5,Astana City,2015,0,3398,1885,1513,178,0.05,119,...,178,568,966,686,1000,5.24%,16.72%,28.43%,20.19%,29.43%
5,9,Karaganda,2015,0,3526,1695,1831,107,0.03,57,...,255,1326,1848,855,693,5.12%,26.64%,37.13%,17.18%,13.92%
6,2,Aktobe,2016,0,2680,1928,752,169,0.06,130,...,329,1025,1365,745,1134,7.16%,22.29%,29.69%,16.20%,24.66%
7,5,Astana City,2016,0,3782,2088,1694,150,0.04,82,...,150,563,1007,752,1310,3.97%,14.89%,26.63%,19.88%,34.64%
8,9,Karaganda,2016,0,3090,1573,1517,65,0.02,33,...,175,1051,1720,776,753,3.91%,23.49%,38.44%,17.34%,16.83%
9,2,Aktobe,2017,0,2808,2119,689,336,0.12,248,...,616,1051,1895,1267,41,12.71%,21.69%,39.11%,26.15%,0.85%
10,5,Astana City,2017,0,4259,2594,1665,622,0.15,447,...,622,823,1594,1194,35,14.60%,19.32%,37.43%,28.03%,0.82%
11,9,Karaganda,2017,0,3446,1836,1610,404,0.12,222,...,576,1329,2156,782,12,11.88%,27.41%,44.47%,16.13%,0.25%
12,2,Aktobe,2018,0,5198,4290,908,780,0.15,600,...,1084,1293,2530,2472,62,14.63%,17.45%,34.15%,33.36%,0.84%
13,5,Astana City,2018,1,5098,3184,1914,1004,0.20,661,...,1004,1165,1721,1205,54,19.69%,22.85%,33.76%,23.64%,1.06%
14,9,Karaganda,2018,0,5603,3468,2135,837,0.15,566,...,1111,2000,2923,1084,13,15.60%,28.08%,41.04%,15.22%,0.18%
15,2,Aktobe,2019,0,3284,2622,662,714,0.22,545,...,1089,960,1577,1395,52,21.66%,19.09%,31.36%,27.74%,1.03%
16,5,Astana City,2019,1,4663,2903,1760,1142,0.24,724,...,1142,1137,1504,880,49,24.49%,24.38%,32.25%,18.87%,1.05%
17,9,Karaganda,2019,0,3773,2073,1700,836,0.22,500,...,1286,1758,1628,564,4,24.61%,33.64%,31.15%,10.79%,0.08%
18,2,Aktobe,2020,0,3647,2849,798,1188,0.33,972,...,1866,1817,1365,416,14,34.10%,33.21%,24.95%,7.60%,0.26%
19,5,Astana City,2020,1,5867,3442,2425,1703,0.29,1101,...,2008,2156,2023,534,6,29.99%,32.20%,30.22%,7.98%,0.09%
20,9,Karaganda,2020,0,4710,2436,2274,1329,0.28,737,...,1973,2240,1707,430,3,31.14%,35.35%,26.94%,6.79%,0.05%
21,2,Aktobe,2021,0,3932,3066,866,1001,0.25,848,...,1544,2016,1715,450,7,26.99%,35.24%,29.98%,7.87%,0.12%
22,5,Astana City,2021,1,6004,3575,2429,1182,0.20,840,...,1519,2470,2499,714,2,21.21%,34.49%,34.90%,9.97%,0.03%
23,9,Karaganda,2021,0,4701,2546,2155,935,0.20,564,...,1364,2381,2039,491,11,21.79%,38.04%,32.57%,7.84%,0.18%

In [42]:
df.drop(df.columns.difference(['Region',"Year",'Region_ID',
'Region',
'Year',
'Treatment',
'Total(Low)-City %',
'Population_City',
'New_Schools',
'Number_of_Students_City',
'Number_of_Teachers',
'Students_per_School_City',
'Students_Per_Teacher',
'Teachers_per_School']), 1, inplace=True)
df.head()

/var/folders/m8/s9x7jcmj1hg3y0p_lg7dx9z00000gn/T/ipykernel_17346/1112487293.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df.drop(df.columns.difference(['Region',"Year",'Region_ID',

,Region_ID,Region,Year,Treatment,Total(Low)-City %,Population_City,New_Schools,Number_of_Teachers,Students_per_School_City,Students_Per_Teacher,Teachers_per_School
0,2,Aktobe,2014,0,0.05,498794,6,16023.00,683,7,36
1,5,Astana City,2014,0,0.04,814435,9,7092.00,1071,14,77
2,9,Karaganda,2014,0,0.04,1077482,2,21091.00,562,8,37
3,2,Aktobe,2015,0,0.07,510568,5,16128.51,707,8,36
4,5,Astana City,2015,0,0.05,852882,4,7138.70,1146,15,74

In [43]:
df['Time'] = np.where(df['Year'] >= 2019, 1,0 )
df['Treated'] = np.where(df['Region'] >= 'Astana City' , 1,0 )
df['DiD'] = df['Time'] * df['Treated']

In [44]:
df = df[df["Region"].isin(["Astana City","Karaganda"])]
df

,Region_ID,Region,Year,Treatment,Total(Low)-City %,Population_City,New_Schools,Number_of_Teachers,Students_per_School_City,Students_Per_Teacher,Teachers_per_School,Time,Treated,DiD
1,5,Astana City,2014,0,0.04,814435,9,7092.00,1071,14,77,0,1,0
2,9,Karaganda,2014,0,0.04,1077482,2,21091.00,562,8,37,0,1,0
4,5,Astana City,2015,0,0.05,852882,4,7138.70,1146,15,74,0,1,0
5,9,Karaganda,2015,0,0.03,1088300,1,21229.88,605,8,38,0,1,0
7,5,Astana City,2016,0,0.04,872619,3,7251.00,1224,17,73,0,1,0
8,9,Karaganda,2016,0,0.02,1096792,4,21662.00,592,8,39,0,1,0
10,5,Astana City,2017,0,0.15,972692,1,8388.00,1292,16,80,0,1,0
11,9,Karaganda,2017,0,0.12,1098499,1,20689.00,614,9,37,0,1,0
13,5,Astana City,2018,1,0.20,1030577,4,9290.00,1419,16,88,0,1,0
14,9,Karaganda,2018,0,0.15,1099146,2,20770.00,624,9,38,0,1,0
16,5,Astana City,2019,1,0.24,1078384,1,9867.00,1475,17,88,1,1,1
17,9,Karaganda,2019,0,0.22,1097418,1,20342.00,647,10,38,1,1,1
19,5,Astana City,2020,1,0.29,1136156,2,10620.00,1547,17,90,1,1,1
20,9,Karaganda,2020,0,0.28,1097991,2,20575.00,676,10,38,1,1,1
22,5,Astana City,2021,1,0.20,1136156,0,11993.00,1466,16,90,1,1,1
23,9,Karaganda,2021,0,0.20,1097991,0,21443.00,696,10,40,1,1,1

In [45]:
x = df.iloc[:,5:18]
y = df.iloc[:,4]

In [47]:
model = LinearRegression().fit(x, y)
model.coef_

array([ 1.67902072e-06,  1.35857504e-02, -4.30959216e-05, -1.17249895e-04,
        1.44602452e-02, -7.98513444e-03,  5.44715658e-02,  0.00000000e+00,
        5.44715658e-02])

In [48]:
X2 = sm.add_constant(x)
est = sm.OLS(y, X2)
est2 = est.fit()
print(est2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:      Total(Low)-City %   R-squared:                       0.840
Model:                            OLS   Adj. R-squared:                  0.700
Method:                 Least Squares   F-statistic:                     5.990
Date:                Fri, 09 Dec 2022   Prob (F-statistic):             0.0110
Time:                        23:24:36   Log-Likelihood:                 30.180
No. Observations:                  16   AIC:                            -44.36
Df Residuals:                       8   BIC:                            -38.18
Df Model:                           7
Covariance Type:            nonrobust
============================================================================================
                               coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------
Population_City           1.679e-06   9.89e-07      1.698      0.128   -6.01e-07    3.96e-06
New_Schools                  0.0136      0.011      1.202      0.264      -0.012       0.040
Number_of_Teachers        -4.31e-05   3.61e-05     -1.192      0.267      -0.000    4.03e-05
Students_per_School_City    -0.0001      0.001     -0.116      0.910      -0.002       0.002
Students_Per_Teacher         0.0145      0.057      0.252      0.807      -0.118       0.147
Teachers_per_School         -0.0080      0.011     -0.717      0.494      -0.034       0.018
Time                         0.0545      0.024      2.238      0.056      -0.002       0.111
Treated                     -0.6169      0.945     -0.653      0.532      -2.796       1.562
DiD                          0.0545      0.024      2.238      0.056      -0.002       0.111
==============================================================================
Omnibus:                        0.718   Durbin-Watson:                   1.692
Prob(Omnibus):                  0.698   Jarque-Bera (JB):                0.673
Skew:                           0.205   Prob(JB):                        0.714
Kurtosis:                       2.083   Cond. No.                     6.15e+22
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 4.62e-33. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

/Users/marinaberdikhanova/Library/Python/3.8/lib/python/site-packages/scipy/stats/_stats_py.py:1772: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=16
  warnings.warn("kurtosistest only valid for n>=20 ... continuing "